<div class="user">
	<h2> Submit Booking Request</h2>
	<form name="formCreateRoom" novalidate>
		<p><label> Date :   </label><input type="date" name="date" ng-model="date" min="{{minDate}}"></p>
		<p><label> Time In : </label><input type="time" name="timein" ng-model="timein"></p>
		<p><label> Time Out : </label><input type="time" name="timeout" ng-model="timeout"></p>
		<p><label> Number of Seat </label><input type="number" name="numberOfSeats" ng-model="numberOfSeats" min="1"></p>
		<p><label> Preferred Floor </label><input type="number" name="floorValue" ng-model="floorValue" min="0"></p>
		<p> <label>Amenities</label></p>
		<ul>
			<li ng-repeat="keyword_type in amenitiesTypeList">
            	<input id="{{ keyword_type.id }}" ng-model="keyword_type.checked"
                   ng-checked="keyword_type.checked"
                   ng-click="(keyword_type.checked==true)?false:true;keywordType()" type="checkbox" name="cc">
            	<label for="{{ keyword_type.id }}">{{ keyword_type.name }}</label>
        	</li>
		</ul>
		<input type="submit" value="Submit" ng-click="CreateForm(formCreateRoom)">
	</form>
</div>


