<div>
    <h1>Manage Conference Rooms</h1>
<form name="formCreateRoom" novalidate>
    <label>Conference Room</label>
    <input type="text" name="conferenceName" ng-model = "conferenceName"/>
    <p><label>Number of seats <input type="number" name="numberOfSeats" ng-model = "numberOfSeats"></label></p>
    <p><label> Floor
    <select ng-model="floorValue">
        <option value="1" name="1">1</option>
        <option value="2" name="2">2</option>
        <option value="3" name="3">3</option>
        <option value="4" name="4">4</option>
    </select>
    </label>
    </p>
    <h2>Amenities</h2>
    <div class="amenities">
        <li class="col_in" ng-repeat="keyword_type in amenitiesTypeList">
            <input id="{{ keyword_type.id }}" ng-model="keyword_type.checked"
                   ng-checked="keyword_type.checked"
                   ng-click="(keyword_type.checked==true)?false:true;keywordType()" type="checkbox" name="cc">
            <label for="{{ keyword_type.id }}"><span></span>
                <span>{{ keyword_type.name }}</span>
            </label>
        </li>
    </div>
    <p><button ng-click="CreateForm(formCreateRoom)">Submit</button></p>
</form>

    <h3>Created rooms are listed below</h3>
<!--<div class="displayrooms">

<div class="wrapper" ng-repeat="data in availableRooms">
<div class="first">{{data.name}}</div>
    <div class="sec">{{data.capacity}}</div>
    <div class="third">amenities</div>
    <!--<div class="third"><span ng-repeat="key in data.ameneties">{{key}}</span> </div>
    <div class="fourth"><input type="button" name="Edit" value="Edit"></div>
    <div class="fifth"><input type="button" name="Delete" value="Delete"></div>
</div>
</div>-->
    <!---my new html-->
    <div class="table">
  <div class="header">
    <div class="cell">Name</div>
    <div class="cell">Capacity</div>
    <div class="cell">Amenities</div>
    <div class="cell">Floor</div>
      <div class="cell">Edit</div>
    <div class="cell">Delete</div>
  </div>
  <div class="rowGroup" ng-repeat="data in availableRooms">
    <div class="row">
      <div class="cell">{{data.name}}</div>
      <div class="cell">{{data.capacity}}</div>
      <div class="cell"><span ng-repeat="key in data.ameneties">{{key}}<br></span></div>
      <div class="cell">{{data.floor}}</div>
        <div class="cell"><input type="button" name="Edit" value="Edit" ng-click="EditProject()"></div>
      <div class="cell"><input type="button" name="Delete" value="Delete"></div>
    </div>

  </div>

</div>
    <!--end-->
</div>



